<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item col-12" style="width: 100%; margin-bottom: 20px;">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif %}
  <div class="card hoverable" style="width: 100%;">
    {%- if project.img %}
      {%- include figure.html
         path=project.img
         alt="project thumbnail" 
         class="img-fluid" 
         style="width:100%; height:auto; max-width: 100%;" -%}
    {%- endif %}
    <div class="card-body" style="padding: 1px; width: 100%;">
      <h2 class="card-title text-uppercase text-truncate" style="font-size: 25px;">{{ project.title }}</h2>
    </div>
  </div>
  </a>
</div>