{% if site.linkedin_username %}
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-lg"></i></a>
{% endif %}

{% if site.scholar_userid %}
<a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar-square ai-lg"></i></a>
{% endif %}

{% if site.github_username %}
<a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-lg"></i></a>
{% endif %}